<% alias Lector.Templates.Component %>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8" />
    <title>A test site</title>
    <link rel="stylesheet" href="/assets/main.css" /> 
  </head>
  <body>
    <header>
      <a id="header-title" href="/">Lector Chile</a>
      <%= Component.navigation() %>
    </header>
    <%= @inner_content %>
  </body>
</html>

