<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8" />
    <title>A test site</title>
    <link rel="stylesheet" href="/assets/main.css" /> 
  </head>
  <body>
    <header>
      <a href="/"><h1 id="header-title">Lector Chile</h1></a>
      <button id="header-secciones-button">Secciones <span class="dropdown-decorator">&#9660;</span></button>
    </header>
    <h2 id="noticia-list-title"><%= seccion %></h2>
    <div id="noticia-list">
      <%= for noticia <- noticias do %>
        <div class="noticia-item">
          <div class="noticia-details">
            <p class="noticia-seccion <%= String.downcase(Map.get(noticia, "seccion")) %>"><%= Map.get(noticia, "seccion") %></p>
            <p class="noticia-medio"><%= Map.get(noticia, "medio") %></p>
          </div>
          <a href="/noticia/<%= Map.get(noticia, "noticia_id") |> Base.url_encode64 %>"><h1><%= Map.get(noticia, "titular") %></h1></a>
        </div>
    <% end %>
    </div>
    <%= if length(noticias) > 0 do %>
      <div id="noticia-pagination">
        <% full_count = Map.get(Enum.at(noticias, 0), "full_count", 0) %>
        <% step = round(full_count / 5) %>
        <%= for n <- 1..step do %>
          <div class="noticia-pagination-number">
            <%= if n == 1 do %>
              <a href="/"><%= n %></a>
            <% else %>
              <a href="/ultimo/<%= n %>"><%= n %></a>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
