<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8" />
    <title>A test site</title>
    <link rel="stylesheet" href="/assets/main.css" /> 
  </head>
  <body>
    <header>
      <a href="/"><h1 id="header-title">Lector Chile</h1></a>
      <button id="header-secciones-button">Secciones <span class="dropdown-decorator">&#9660;</span></button>
    </header>
    <div id="articulo-header">
      <h3 id="articulo-medio"><%= Map.get(@noticia, "medio") %></h3>
      <p id="articulo-seccion"><%= Map.get(@noticia, "seccion") %></p>
    </div>
    <h2 id="noticia-titular"><%= Map.get(@noticia, "titular") %></h2>
    <div id="articulo-details">
      <p id="articulo-autor">Por <strong><%= Map.get(@noticia, "autor") %></strong></p>
      <p id="articulo-fecha"><%= Map.get(@noticia, "fecha") %></p>
    </div>
    <%= if Map.get(@noticia, "imagen_url", false) do %>
      <img id="noticia-imagen" src="<%= Map.get(@noticia, "imagen_url") %>" />
    <% end %>
    <%= if Map.get(@noticia, "bajada", false) do %>
      <div id="noticia-bajada">
        <p><%= Map.get(@noticia, "bajada") %></p>
      </div>
    <% end %>
    <div id="noticia-cuerpo">
      <%= for item <- Map.get(@noticia, "cuerpo") do %>
        <%= item %>
      <% end %>
    </div>
  </body>
</html>
